<p>Maitre is a web app built on top of cobot. It gives you a simple and quick interface for doing manual attendance tracking of coworkers.</p>

<p>In order to use Maitre you need an account that is administrator of a coworking space.</p>

<a href="/auth">Log in to cobot</a>