<h2>Coworkers</h2>

<table id="memberships">
  <thead>
    <tr>
      <th>Name</th>
      <th>Plan</th>
      <th>Payment Method</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    {{#memberships}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{plan}}
        </td>
        <td>
          {{payment_method}}
        </td>
        <td>
          {{#checked_in}}
            already checked in
          {{/checked_in}}
          {{^checked_in}}
            <a href="#" class="check_in" data-membership-id="{{id}}">Check in</a>
          {{/checked_in}}
        </td>
      </tr>
    {{/memberships}}
  </tbody>
</table>
