<h2>Hi {{login}}</h2>

<form action="#" id="select_space">
  <p>
    <label for="subdomain">Please enter the subdomain of your space on cobot:</label><br/>
    <input type="text" name="subdomain" id="subdomain" size="50"/>
    <span class="hint">(i.e. &lt;subdomain&gt;.cobot.me)</span>
  </p>
  
  <p>
    <input type="submit" value="Go to Space"/>
  </p>
</form>

{{#access_token}}
  <script type="text/javascript" charset="utf-8">
    window.access_token = '{{access_token}}';
    window.access_secret = '{{access_secret}}';
  </script>
{{/access_token}}