<h2>Hi {{login}}</h2>

<form action="#" id="select_space">
  <p>
    <label for="subdomain">Please enter the subdomain of your space:</label>
    <input type="text" name="subdomain" id="subdomain"/>
  </p>
  
  <p>
    <input type="submit" value="Go to Space"/>
  </p>
</form>

